name: omsa_design_system
description: OMSA Design System - A comprehensive design system package for OMSA applications
version: 0.1.0
publish_to: 'none'

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
