# OMSA API Configuration
OMSA_BASE_URL=https://api.dev.entur.io/omsa/v1

# OAuth Configuration
OAUTH_TOKEN_URL=https://partner.dev.entur.org/oauth/token
AUTH0_AUDIENCE=https://api.dev.entur.io
CLIENT_ID=
CLIENT_SECRET=

# Sales/Payment API
SALES_BASE_URL=https://api.dev.entur.io/sales/v1

# Entur Headers
ENTUR_DISTRIBUTION_CHANNEL=KOL:DistributionChannel:App
ET_CLIENT_NAME=omsa
ENTUR_POS=Kolumbus
